<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("https://cdn.syncfusion.com/16.4.0.53/js/web/flat-azure/ej.web.all.min.css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    @Scripts.Render("~/Scripts/jsrender.min.js")
    @Scripts.Render("https://cdn.syncfusion.com/16.4.0.53/js/web/ej.web.all.js")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <div class="container body-content">
            <hr />
            <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")


    @Html.EJ().ScriptManager()
    @RenderSection("scripts", required: false)
    <script src="https://cdn.syncfusion.com/16.4.0.53/js/common/ej.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</body>
</html>
